# Ignore temporary CMake files
CTestTestfile.cmake
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles/
Testing/
fontconfig/

# Ignore binary directory
*.debug
*.release

# Ignore backup files
*.bak
*.output.new

# Ignore data files
*.dat
*.png
*.svg
*.jpg
*.eps
*.gif
*.vtk
*.geo
*.msh
*.msh.opt
*.mat
*.ods
*.puml
*.csv
*.log
*.tm
*.gpl
octave-workspace
\#*#

# Ignore temporary output files from the testers.
*.output[0-9]

# Ignore binary files
*.a

# Ignore Valgrind files
callgrind.out.*
core
*.bin

# Ignore generated documentation
latex/
html/

# Other manually added files to be ignored
src/generate_block_cluster_tree
tests/aca-full-matrix-approximation/2022-03-19-aca-plus-for-full-matrix
tests/erichsen1996efficient-example2/2022-03-08-verify-assemble-on-dof-pair
tests/erichsen1996efficient-example2/2nd-order-dof-results.txt
tests/erichsen1996efficient-example2/cell_neighboring_type.txt
tests/erichsen1996efficient-example2/visitlog.py
tests/hmatrix-build-from-aca/2022-03-23-aca-plus-for-slp-dlp-kernel
tests/hmatrix-solve-cholesky/scratch.m
tests/sauter-quad-common-edge/sauter-quad-common-edge-with-bem-values.txt
tests/sauter-quad-common-edge/sauter-quad-common-edge-without-bem-values.txt
tests/sauter-quad-regular/sauter-quad-regular-without-bem-values.txt
tests/sauter-quad-same-panel/quadrature-i=0-j=0.txt
tests/sauter-quad-same-panel/quadrature-i=0-j=2.txt
tests/sauter-quad-same-panel/sauter-quad-same-panel-with-bem-values.txt
tests/sauter-quad-same-panel/sauter-quad-same-panel-with-precalculation.txt
