# Ignore temporary CMake files
CTestTestfile.cmake
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles/
Testing/
fontconfig/
DartConfiguration.tcl

# Ignore clang cache
.cache

# Ignore binary directory
*.debug
*.release
build

# Ignore backup files
*.bak
*.output.new
*.FCBak

# Ignore data files
*.dat
*.gif
*.vtk
*.mat
*.ods
*.puml
*.csv
*.log
*.tm
*.gpl
octave-workspace
*.pvsm
compile_commands.json
\#*#
texfrag

# Ignore temporary output files from the testers.
*.output[0-9]

# Ignore LaTeX temporary files
*.aux
*.thm
*.dvi
*.bbl
*.blg
*.loa
*.lol
*.out
*.synctex.gz
*.toc
*.prv

# Ignore Eclipse preference files
*.prefs

# Ignore binary files
*.a

# Ignore Valgrind files
callgrind.out.*
core
*.bin

# Ignore generated documentation
latex/
html/
doc/theory-and-implementation/hierbem.pdf

# Ignore mesh files
*.msh
*.geo
*.opt

# Ignore generated include files
include/config.h
tests/include/hbem_test_config.h

# Ignore generated scripts
scripts/init-test*.sh

# Ignore Visual Studio Code settings
.vscode
hierbem.code-workspace

# Ignore vcpkg files
vcpkg_installed

# Other manually added files to be ignored
src/generate_block_cluster_tree
tests/aca-full-matrix-approximation/2022-03-19-aca-plus-for-full-matrix
tests/erichsen1996efficient-example2/2022-03-08-verify-assemble-on-dof-pair
tests/erichsen1996efficient-example2/2nd-order-dof-results.txt
tests/erichsen1996efficient-example2/cell_neighboring_type.txt
tests/erichsen1996efficient-example2/visitlog.py
tests/hmatrix-build-from-aca/2022-03-23-aca-plus-for-slp-dlp-kernel
tests/hmatrix-solve-cholesky/scratch.m
tests/sauter-quad-common-edge/sauter-quad-common-edge-with-bem-values.txt
tests/sauter-quad-common-edge/sauter-quad-common-edge-without-bem-values.txt
tests/sauter-quad-regular/sauter-quad-regular-without-bem-values.txt
tests/sauter-quad-same-panel/quadrature-i=0-j=0.txt
tests/sauter-quad-same-panel/quadrature-i=0-j=2.txt
tests/sauter-quad-same-panel/sauter-quad-same-panel-with-bem-values.txt
tests/sauter-quad-same-panel/sauter-quad-same-panel-with-precalculation.txt

# Other auto-generated files to be ignored
tests/functions/laplace-bem/dirichlet-hmatrix-two-spheres/process.m
tests/functions/laplace-bem/dirichlet-hmatrix/process.m
tests/functions/laplace-bem/mixed-hmatrix/process.m
tests/functions/laplace-bem/mixed-l-shape/process.m
tests/functions/laplace-bem/neumann-hmatrix/process.m
tests/functions/laplace-bem/dirichlet-full-matrix/process.m
tests/functions/laplace-bem/neumann-full-matrix/process.m
tests/units/op-precond-hmatrix-for-dirichlet/process.m
tests/functions/laplace-bem/dirichlet-hmatrix-op-precond/process.m
tests/functions/laplace-bem/dirichlet-hmatrix-two-spheres-op-precond/process.m
tests/functions/laplace-bem/neumann-hmatrix-op-precond/process.m
tests/units/op-precond-averaging-matrix-for-neumann/process.jl
tests/units/op-precond-coupling-matrix-for-neumann/process.jl
tests/functions/laplace-bem/neumann-full-matrix/reference.output
tests/functions/laplace-bem/neumann-hmatrix/reference.output
tests/functions/laplace-bem/neumann-hmatrix-op-precond/reference.output
tests/units/op-precond-averaging-matrix-for-dirichlet-subdomain/draw.jl
tests/units/op-precond-coupling-matrix-for-dirichlet-subdomain/draw.jl
tests/units/op-precond-averaging-matrix-for-neumann/draw.jl
tests/units/op-precond-coupling-matrix-for-neumann/draw.jl
tests/units/op-precond-averaging-matrix-for-neumann-subdomain/draw.jl
tests/units/op-precond-averaging-matrix-for-neumann-subdomain/process.jl
tests/units/op-precond-coupling-matrix-for-neumann-subdomain/draw.jl
tests/units/op-precond-coupling-matrix-for-neumann-subdomain/process.jl
tests/units/op-precond-hmatrix-for-dirichlet-subdomain/process.m
tests/units/op-precond-hmatrix-for-neumann/process.m
tests/units/op-precond-hmatrix-for-neumann-subdomain/process.m
